@import "../layout/header/_header"
@import "../layout/footer/_footer"

@import "../pages/home/_home"
@import "../pages/class/_class"
@import "../pages/contact/_contact"
@import "../pages/events/_events"
@import "../pages/planning/_planning"
@import "../pages/error/_error"

@import "../components/popup_pc/_popup_pc"
@import "../components/popup_tel/_popup_tel"

:root
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
    line-height: 1.5
    font-weight: 400

    color-scheme: light dark
    color: rgba(255, 255, 255, 0.87)
    background-color: #242424

    font-synthesis: none
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
