header {
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: white;
}
header nav {
  display: flex;
  gap: 10px;
}

.Home {
  background-color: #120D16;
  min-height: 2000px;
}

#form_contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  color: #ddd;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
#form_contact_divname {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#form_contact_divname label {
  flex-grow: 1;
}
#form_contact_divname input {
  width: -moz-fit-content;
  width: fit-content;
}

label {
  display: block;
  margin-bottom: 15px;
}
label p {
  margin-bottom: 5px;
}
label input, label textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2f2f2f;
  color: #ddd;
  box-sizing: border-box;
}
label input:focus, label textarea:focus {
  outline: none;
}
label textarea {
  resize: vertical;
}
label span {
  color: #ff6347;
  font-size: 0.8em;
}

input[type=submit] {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}
input[type=submit]:hover {
  background-color: #ff3814;
}

.PopupPC {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  background-color: #fff;
  color: black;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  animation: PopupOpenPC 1s ease-in-out forwards;
}
.PopupPC div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.PopupPC div header {
  width: 100%;
}
.PopupPC div header button {
  margin-left: auto;
}
.PopupPC div main a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.PopupPC div main p {
  width: 100%;
}
.PopupPC.close-animation-pc {
  animation: PopupClosePC 1s ease-in-out forwards;
}

@keyframes PopupOpenPC {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes PopupClosePC {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.PopupTel {
  position: sticky;
  top: 10px;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ffd900;
  color: black;
  display: flex;
  justify-content: flex-end;
}
.PopupTel div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}
.PopupTel div a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.PopupTel div a p {
  padding: 0;
  margin: 10px;
}
.PopupTel div button {
  margin: 10px;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 90%;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */