.PopupPC {
  position: fixed;
  bottom: 0;
  right: 7%;
  width: 300px;
  height: 200px;
  background-color: #3b3838;
  color: black;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  animation: PopupOpenPC 1s ease-in-out forwards;
  z-index: 9999;
}
.PopupPC div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.PopupPC div header {
  width: 100%;
}
.PopupPC div header button {
  margin-left: auto;
  margin-bottom: 10px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.PopupPC div main a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.PopupPC div main p {
  width: 100%;
}
.PopupPC div main img {
  width: 100%;
}
.PopupPC.close-animation-pc {
  animation: PopupClosePC 1s ease-in-out forwards;
}

@keyframes PopupOpenPC {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes PopupClosePC {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.PopupTel {
  position: sticky;
  top: 10px;
  width: auto;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ffd900;
  color: black;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}
.PopupTel div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}
.PopupTel div a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.PopupTel div a p {
  padding: 0;
  margin: 10px;
}
.PopupTel div button {
  margin: 10px;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
}

.collapsible {
  display: flex;
  flex-direction: column;
  position: relative;
}
.collapsible .collapsible-divbutton {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #FF6060;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 767.98px) {
  .collapsible .collapsible-divbutton {
    font-size: 1rem;
    font-weight: 600;
    height: 30px;
    border-radius: 5px;
  }
}
.collapsible .collapsible-divbutton p {
  padding-left: 10px;
}
.collapsible .collapsible-divbutton .collapsible-button {
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  outline: none;
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-down-rotated {
  animation: rotate-down 0.3s linear forwards;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-up-rotated {
  animation: rotate-up 0.3s linear forwards;
}
.collapsible .collapsible-divbutton .collapsible-button:focus {
  border: solid 1px rgba(246, 246, 246, 0.4509803922);
}
.collapsible .collapsible-content {
  z-index: 0;
  background-color: rgba(246, 246, 246, 0.4509803922);
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding-top: 50px;
  border-radius: 5px 5px 5px 5px;
}
@media screen and (max-width: 767.98px) {
  .collapsible .collapsible-content {
    padding-top: 30px;
  }
}
.collapsible .collapsible-content p {
  padding: 0 20px 0 20px;
}
.collapsible .collapsible-content.active {
  max-height: 500px;
}

@keyframes rotate-down {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate-up {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Carroussel {
  display: none;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .slideshow-container {
    height: 255px;
  }
}
.slideshow-container .mySlides {
  position: relative;
  width: 100%;
}
.slideshow-container .mySlides .myPictures {
  display: none;
  width: 100%;
}
.slideshow-container .mySlides .myPictures--imgcontainer {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 600px;
  overflow: hidden;
  border-radius: 25px;
}
@media screen and (max-width: 767.98px) {
  .slideshow-container .mySlides .myPictures--imgcontainer {
    border-radius: 10px;
    max-height: 255px;
  }
}
.slideshow-container .mySlides .myPictures--imgcontainer img {
  width: 100%;
}
.slideshow-container .mySlides .myPictures--indexation {
  position: absolute;
  color: white;
  bottom: 0;
  left: 50%;
  z-index: 10;
}
.slideshow-container .prev, .slideshow-container .next {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 278px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0 10px 10px 10px;
}
@media screen and (max-width: 767.98px) {
  .slideshow-container .prev, .slideshow-container .next {
    top: 105.5px;
  }
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
header a {
  text-decoration: none;
  color: white;
}
header nav {
  display: flex;
  gap: 10px;
}
header nav a {
  background-color: rgba(255, 255, 255, 0.2274509804);
  padding: 3px;
  border-radius: 5px;
}
header #Header_Logo {
  margin-top: 10px;
  height: 100px;
}

.Home {
  min-height: 2000px;
}
.Home #Slideshow_container {
  aspect-ratio: 16/9;
  width: 800px;
}
.Home .Slideshow_section {
  display: flex;
  justify-content: center;
  width: 100%;
}

#class .collapsible {
  margin-bottom: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#class .collapsible_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 20px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

#main_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main_contact h1 {
  margin-bottom: 50px;
}

#form_contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  color: #ddd;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
#form_contact_divname {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#form_contact_divname label {
  flex-grow: 1;
}
#form_contact_divname input {
  width: -moz-fit-content;
  width: fit-content;
}

label {
  display: block;
  margin-bottom: 15px;
}
label p {
  margin-bottom: 5px;
}
label input, label textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2f2f2f;
  color: #ddd;
  box-sizing: border-box;
}
label input:focus, label textarea:focus {
  outline: none;
}
label textarea {
  resize: vertical;
}
label span {
  color: #ff6347;
  font-size: 0.8em;
}
label #tel, label #email {
  max-width: 300px;
}

input[type=submit] {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}
input[type=submit]:hover {
  background-color: #ff3814;
}

#Contact_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
#Contact_info p a {
  margin-left: 3px;
}
@media (max-width: 767.98px) {
  #Contact_info {
    gap: 20px;
    flex-direction: column;
  }
}
#Contact_info_Reseaux {
  display: flex;
  gap: 20px;
}
@media (max-width: 767.98px) {
  #Contact_info_Reseaux {
    justify-content: center;
  }
}
#Contact_info_Reseaux img {
  width: 50px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #232627;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root li {
  list-style-type: "- ";
}

#root {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.062745098);
  padding: 0 30px;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}/*# sourceMappingURL=style.css.map */