.PopupPC {
  position: fixed;
  bottom: 0;
  right: 7%;
  width: 500px;
  height: 300px;
  background-color: #3b3838;
  color: black;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  animation: PopupOpenPC 1s ease-in-out forwards;
  z-index: 9999;
}
.PopupPC div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.PopupPC div header {
  width: 100%;
}
.PopupPC div header button {
  margin-left: auto;
  margin-bottom: 10px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.PopupPC div main a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.PopupPC div main p {
  width: 100%;
}
.PopupPC div main img {
  width: 100%;
}
.PopupPC.close-animation-pc {
  animation: PopupClosePC 1s ease-in-out forwards;
}

@keyframes PopupOpenPC {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes PopupClosePC {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.PopupTel {
  position: sticky;
  top: 20px;
  width: 90%;
  height: 100px;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  padding: 10px;
  background-color: #333138;
  color: black;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}
.PopupTel div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  gap: 15px;
}
.PopupTel div a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.PopupTel div a #PopupImageTel {
  width: 100%;
}
.PopupTel div a p {
  padding: 0;
  margin: 10px;
}
.PopupTel div button {
  margin: auto 10px;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
}

.collapsible {
  display: flex;
  flex-direction: column;
  position: relative;
}
.collapsible .collapsible-divbutton {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background: rgb(218, 79, 132);
  background: linear-gradient(to right, #da4f84, #36d6e7, #f9a726);
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 767.98px) {
  .collapsible .collapsible-divbutton {
    font-size: 1rem;
    font-weight: 600;
    height: 50px;
    border-radius: 5px;
  }
}
.collapsible .collapsible-divbutton p {
  flex-grow: 1;
  text-align: center;
  padding-left: 10px;
  white-space: nowrap;
}
.collapsible .collapsible-divbutton .collapsible-button {
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  outline: none;
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-down-rotated {
  animation: rotate-down 0.3s linear forwards;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-up-rotated {
  animation: rotate-up 0.3s linear forwards;
}
.collapsible .collapsible-divbutton .collapsible-button:focus {
  border: solid 1px rgba(246, 246, 246, 0.4509803922);
}
.collapsible .collapsible-content {
  z-index: 0;
  background-color: rgba(246, 246, 246, 0.4509803922);
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding-top: 50px;
  border-radius: 5px 5px 5px 5px;
}
@media screen and (max-width: 767.98px) {
  .collapsible .collapsible-content {
    padding-top: 50px;
  }
}
.collapsible .collapsible-content p {
  padding: 0 20px 0 20px;
}
.collapsible .collapsible-content.active {
  max-height: 500px;
}

@keyframes rotate-down {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate-up {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.collapsible {
  font-size: 15px;
}

.Carroussel {
  display: none;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .slideshow-container {
    height: 255px;
  }
}
.slideshow-container .mySlides {
  position: relative;
  width: 100%;
}
.slideshow-container .mySlides .myPictures {
  display: none;
  width: 100%;
}
.slideshow-container .mySlides .myPictures--imgcontainer {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 600px;
  overflow: hidden;
  border-radius: 25px;
}
@media screen and (max-width: 767.98px) {
  .slideshow-container .mySlides .myPictures--imgcontainer {
    border-radius: 10px;
    max-height: 255px;
  }
}
.slideshow-container .mySlides .myPictures--imgcontainer img {
  width: 100%;
}
.slideshow-container .mySlides .myPictures--indexation {
  position: absolute;
  color: white;
  bottom: 0;
  left: 50%;
  z-index: 10;
}
.slideshow-container .prev, .slideshow-container .next {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 278px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0 10px 10px 10px;
}
@media screen and (max-width: 767.98px) {
  .slideshow-container .prev, .slideshow-container .next {
    top: 105.5px;
  }
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}
.wrapper .circle,
.wrapper .shadow {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: light-dark(#232627, #fff);
  left: 15%;
  transform-origin: 50%;
}
.wrapper .circle {
  animation: circle7124 0.5s alternate infinite ease;
}
.wrapper .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.wrapper .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.wrapper .shadow {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  top: 62px;
  z-index: -1;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}
.wrapper .shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.wrapper .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: light-dark(#000, #f5f5f5);
}
header #Header_Logo {
  margin-top: 10px;
  max-height: 200px;
  max-width: 100%;
}
header #home_link {
  font-size: 2rem;
}
header .navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
  min-height: 75px;
  color: light-dark(#000, #f5f5f5);
  z-index: 10;
}
header .navbar__links {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .navbar__links img {
  display: none;
  height: 100px;
}
header .navbar__link {
  padding: 0 0.3rem;
  color: inherit;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
header .navbar__link:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 3px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1019607843) 0, #36d6e7 20%, #36d6e7 80%, rgba(255, 255, 255, 0.1019607843) 100%);
  left: 50%;
  transform: translateX(-50%);
  animation: width_animation 0.3s ease-in-out forwards;
}
header .navbar .activeNavLink:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 3px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1019607843) 0, #36d6e7 20%, #36d6e7 80%, rgba(255, 255, 255, 0.1019607843) 100%);
  left: 50%;
  transform: translateX(-50%);
}
header .navbar__burger {
  width: 40px;
  height: 40px;
  z-index: 12;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}
header .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header .navbar a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  header .navbar {
    position: fixed;
    color: #f5f5f5;
  }
  header .navbar__links img {
    display: block;
  }
  header .navbar__link {
    display: block;
    padding: 1.3rem;
    font-size: 5vw;
  }
  header .navbar__burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  header .navbar__burger:hover {
    cursor: pointer;
  }
  header .navbar__item:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: #fff;
  }
  header .navbar__item:last-child:after {
    display: none;
  }
  header .navbar__links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100%;
    padding: 2rem;
    background-color: #000;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
  header .hide-nav {
    right: -100vw;
  }
  header .show-nav .navbar__links {
    right: 0;
    width: 100%;
    visibility: visible;
  }
  header .navbar__button .burger-bar,
  header .navbar__button .burger-bar::before,
  header .navbar__button .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: light-dark(#232627, #f5f5f5);
    transition: all 0.3s ease-in-out;
  }
  header .navbar__button .burger-bar::before,
  header .navbar__button .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  header .navbar__button .burger-bar::before {
    transform: translateY(-12px);
  }
  header .navbar__button .burger-bar::after {
    transform: translateY(12px);
  }
  header .show-nav .burger-bar,
  header .show-nav .burger-bar::before,
  header .show-nav .burger-bar::after {
    background-color: #f5f5f5;
  }
  header .show-nav .burger-bar:before {
    transform: rotate(45deg);
  }
  header .show-nav .burger-bar:after {
    transform: rotate(-45deg);
  }
  header .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }
}
@media screen and (min-width: 768px) {
  header .navbar__item:nth-child(2):hover {
    animation: upscale 0.3s ease-in-out forwards;
  }
  header .navbar__item:nth-child(2) a:hover:after {
    display: none;
  }
}

@keyframes width_animation {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes upscale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
footer {
  background-color: #131516;
  color: #f5f5f5;
  margin-top: 50px;
  padding-top: 50px;
}
footer #Contact_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
footer #Contact_container p a {
  margin-left: 3px;
}
footer #Contact_container p a:visited {
  color: #f5f5f5;
}
@media (max-width: 767.98px) {
  footer #Contact_container {
    gap: 20px;
    flex-direction: column;
  }
}
footer #Contact_container #Contact_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer #Contact_container #Contact_info table {
  border-spacing: 20px 10px;
}
footer #Contact_container #Contact_info table td {
  text-align: left;
}
footer #Contact_container #Contact_info table td a {
  color: #FFF;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  footer #Contact_container #Contact_info {
    position: relative;
    padding-top: 10px;
    margin-top: 10px;
  }
  footer #Contact_container #Contact_info::before {
    display: block;
    width: 100px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
  }
}
footer #Contact_container #Contact_info p {
  margin: 0;
  padding: 0;
}
footer #Contact_container #Contact_info_Reseaux {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: space-evenly;
}
footer #Contact_container #Contact_info_Reseaux img {
  width: 50px;
}
footer #Contact_container #Hours_info {
  display: flex;
  flex-direction: column;
}
footer #Contact_container #Hours_info table th {
  text-align: left;
  padding-right: 20px;
}
footer #Contact_container #Hours_info table tr {
  text-align: right;
}
footer #Footer_bottom-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 30px;
  padding-top: 30px;
  padding-bottom: 5px;
}
footer #Footer_bottom-container p {
  padding: 0;
  margin: 0;
}
footer #Footer_bottom-container p a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767.98px) {
  footer {
    padding: 1rem;
  }
  footer #Contact_container #Google_map {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  footer #Contact_container #Google_map iframe {
    margin: auto;
    width: 30rem;
  }
  footer #Hours_info {
    text-align: center;
  }
}
.Home .title_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}
.Home .title_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  z-index: -1;
}
.Home .title_container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
}
.Home .title_container h1 {
  display: flex;
  padding: 0 3.3rem;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
}
.Home #Slideshow_container {
  aspect-ratio: 16/9;
  width: 800px;
}
.Home .Slideshow_section {
  display: flex;
  justify-content: center;
  width: 100%;
}

#class .main__header {
  display: flex;
  justify-content: center;
}
#class .main__header .title_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}
#class .main__header .title_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  z-index: -1;
}
#class .main__header .title_container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-3px);
}
#class .main__header .title_container h1 {
  display: flex;
  padding: 0 75px;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
}
#class .collapsible {
  margin-bottom: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#class .collapsible_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 20px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

#main_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main_contact .main__header {
  margin-bottom: 2rem;
}
#main_contact .main__header .title_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 83px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}
#main_contact .main__header .title_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  z-index: -1;
}
#main_contact .main__header .title_container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0px);
  white-space: nowrap;
}
#main_contact .main__header .title_container h1 {
  display: flex;
  padding: 0 10px;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(5px);
}
#main_contact #form_contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  color: #ddd;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
#main_contact #form_contact_divname {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#main_contact #form_contact_divname label {
  flex-grow: 1;
}
#main_contact #form_contact_divname input {
  width: -moz-fit-content;
  width: fit-content;
}
#main_contact #form_contact input, #main_contact #form_contact .label input, #main_contact #form_contact textarea {
  font-size: 1.4rem;
}

label {
  display: block;
  margin-bottom: 15px;
}
label p {
  margin-bottom: 5px;
}
label input, label textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2f2f2f;
  color: #ddd;
  box-sizing: border-box;
}
label input:focus, label textarea:focus {
  outline: none;
}
label textarea {
  resize: vertical;
}
label span {
  color: #ff6347;
  font-size: 0.8em;
}
label #tel, label #email {
  max-width: 300px;
}

input[type=submit] {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}
input[type=submit]:hover {
  background-color: #ff3814;
}

#event_main .title_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}
#event_main .title_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  z-index: -1;
}
#event_main .title_container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
}
#event_main .title_container h1 {
  display: flex;
  padding: 0 20px;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(5px);
}

#Planning .title_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}
#Planning .title_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  z-index: -1;
}
#Planning .title_container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
}
#Planning .title_container h1 {
  display: flex;
  padding: 0 30px;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
}

#offers .title_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}
#offers .title_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  z-index: -1;
}
#offers .title_container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
}
#offers .title_container h1 {
  display: flex;
  padding: 0 60px;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
}

#main_coach .title_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: black;
}
#main_coach .title_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  z-index: -1;
}
#main_coach .title_container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
}
#main_coach .title_container h1 {
  display: flex;
  padding: 0 3.3rem;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
}
#main_coach #Slideshow_container {
  aspect-ratio: 16/9;
  width: 800px;
}
#main_coach .Slideshow_section {
  display: flex;
  justify-content: center;
  width: 100%;
}

#main_error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: light-dark(#000, #f5f5f5);
  background-color: light-dark(#f5f5f5, #232627);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

* {
  box-sizing: border-box;
}

#root {
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  #root {
    width: 100%;
  }
}

body {
  width: 100dvw;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  font-size: calc(15px + 0.390625vw);
}
body main {
  flex-grow: 1;
  padding: 0 30px;
}
body footer {
  font-size: calc(15px + 0.1vw);
}

.main__header p {
  z-index: -1;
}

@media (max-width: 767.98px) {
  .main__header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */