
.PopupPC
    position: fixed
    bottom: 0
    right: 0
    width: 300px
    height: 200px
    background-color: #3b3838
    color: black
    margin-right: 10px
    padding: 10px
    border-radius: 10px 10px 0 0
    animation: PopupOpenPC 1s ease-in-out forwards

    div
        display: flex
        width: 100%
        flex-wrap: wrap
        header
            width: 100%
            button
                margin-left: auto
                margin-bottom: 10px
                border: 0
                padding: 0
                // background: hsl(216, 100, 50)
                border-radius: 50%
                width: 20px
                height: 20px
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: center
                cursor: pointer

        main
            a
                width: 100%
                text-decoration: none
                color: black
            p
                width: 100%
            img
                width: 100%

    &.close-animation-pc
        animation: PopupClosePC 1s ease-in-out forwards

@keyframes PopupOpenPC
    0%
        transform: translateY(100%)
    100%
        transform: translateY(0%)

@keyframes PopupClosePC
    0%
        transform: translateY(0%)
    100%
        transform: translateY(100%)

.PopupTel
    position: sticky
    top: 10px
    width: auto
    height: fit-content
    border-radius: 5px

    margin-bottom: 10px
    background-color: #ffd900
    color: black
    display: flex
    justify-content: flex-end

    div
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        gap: 15px
        a
            text-decoration: none
            color: black
            flex-grow: 1
            display: flex
            justify-content: center
            align-items: center
            height: 100%
            p
                padding: 0
                margin: 10px
        button
            margin: 10px
            padding: 10px
            height: fit-content
