$dark-bg: #222
$light-text: #ddd
$error-text: #ff6347
$form-font-size: 1.4rem
$form-padding: 10px
$form-border-radius: 5px
$form-bg-color: lighten($dark-bg, 5%)
$layout-breakpoint-small: 600px

#main_contact
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    #form_contact
        display: flex
        justify-content: center
        flex-direction: column
        background-color: $dark-bg
        color: $light-text
        padding: 20px
        border-radius: $form-border-radius
        width: 100%
        max-width: 1024px
        box-sizing: border-box
        margin-bottom: 50px

        &_divname
            display: flex
            flex-direction: row
            flex-wrap: wrap
            column-gap: 30px

            label
                flex-grow: 1

            input
                width: 20vw
                min-width: 250px
                max-width: 400px

                @media screen and (max-width: $layout-breakpoint-small)
                    width: 100%

        &_checkbox_container
            display: flex
            flex-direction: row
            justify-content: center
            margin-bottom: 15px
            gap: 10px

            p
                user-select: none

        label:not(#form_contact_checkbox_container)
            display: block
            margin-bottom: 15px

            p
                margin-bottom: 5px

        input:not([type="checkbox"]), .label input:not([type="checkbox"]), textarea
            font-size: $form-font-size
            width: 100%
            padding: $form-padding
            border: none
            border-radius: $form-border-radius
            background-color: $form-bg-color
            color: $light-text
            box-sizing: border-box

        &:focus
            outline: none

    textarea
        resize: vertical
        min-height: 150px

    span
        color: $error-text
        font-size: 0.8em

    #tel, #email
        min-width: 250px
        max-width: 400px

    input[type="submit"]
        background-color: rgba(255, 255, 255, 0.1)
        color: $light-text
        cursor: pointer
        transition: background-color 0.3s ease
        width: fit-content
        border-radius: $form-border-radius
        &:hover
            background-color: darken($error-text, 10%)
