.Home
    // min-height: 2000px
    #Slideshow_container
        aspect-ratio: 16/9
        width: 70%
        // max-width: 1080px
        @media screen and (max-width: 768px)
            width: 100%

    .Slideshow
        &_section
            display: flex
            justify-content: center
            width: 100%
