footer
    margin-top: 50px
    padding-bottom: 20px
    #Contact_info
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-evenly
        align-items: center
        p
            a
                margin-left: 3px
        @media (max-width: $layout-breakpoint-small)
            gap: 20px
            flex-direction: column

        &_Reseaux
            display: flex
            gap: 20px
            @media (max-width: $layout-breakpoint-small)
                justify-content: center
            img
                width: 50px
        #Google_map
            width: 500px

@media (max-width: $layout-breakpoint-small)
    footer
        #Contact_info
            #Google_map
                width: 100%
                display: flex
                justify-content: center
                // padding: 50px
                iframe
                    margin: auto
                    width: 30rem
